body{
	font-size: small;
	font-family: Verdana, Helvatic, Arial, sans-serif;
	line-height: 1.6em;
	padding: 10%;
}

h1,h2{
	color:#007e7e;
}

h1{
	font-size: 150%;
}

h2{
	font-size: 130%;
}
.guarantee{
	font-family:Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	line-height: 1.9em;
	color: #4444444;

	background-color: #a7cece;

	border-color:white;
	border-width:1px;
	border-style: dashed;
	border-radius: 2em;

	padding:25px;
	padding-left: 80px;
	margin:30px;
	margin-right: 250px;
	

	background-image: url(images/background.gif);
	background-repeat: no-repeat;
	background-position:top left;
}